/* list form format */
tr.header-row td {
  border-bottom: 1px solid lightgray;
  color: darkgray;
}
.col1 {
	width: 100px;
}
.col2, .col3 {
	width: 150px;
}

/* details form format */
label {
	display: inline-block;
	width: 110px;
	text-align: right;
	margin: 5px 10px;
}
input {
	width: 220px;
}

/* animation on deleting row */
.row {
	transition: all linear .5s;
}
.row.ng-leave-active {
	opacity: 0;
}

/* animation on view switching */
.container {
	position: absolute;
	transition: all linear .5s;
}
.container.ng-enter, .container.ng-leave-active {
	left: -100%;
}
.container.ng-enter-active, .container.ng-leave {
	left: 0;
}
